<a href="https://colab.research.google.com/github/Siddhi-Takawade/NLP-Consumer-complaints/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Filename    : Data_cleaning.ipynb

Disclaimer  : Check the column names before running the code.

Description : Functions to identify and remove duplicate values, format date and other columns for data from the site - www.consumercomplaints.in.

In [ ]:
#installing datetime
%%capture
!pip install datetime

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Wids/bsnl_merge.csv")

In [ ]:
df.head(5)

   Unnamed: 0 web-scraper-order  ...           comp_location comp_status
0           0    1623825574-391  ...     Vellore, Tamil Nadu         NaN
1           1   1623847234-5990  ...  Mathura, Uttar Pradesh         NaN
2           2   1623841539-4219  ...     Mumbai, Maharashtra         NaN
3           3    1623825533-376  ...        Sikar, Rajasthan  [Resolved]
4           4   1623834784-2028  ...     Chennai, Tamil Nadu  [Resolved]

[5 rows x 12 columns]

In [ ]:
df.shape

(14598, 12)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14598 entries, 0 to 14597
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             14598 non-null  int64
 1   web-scraper-order      14598 non-null  object
 2   web-scraper-start-url  14598 non-null  object
 3   compl_title            14598 non-null  object
 4   link_title-href        6640 non-null   object
 5   comp_detail            14598 non-null  object
 6   update_date            11473 non-null  object
 7   comp_status_text       5960 non-null   object
 8   username               14598 non-null  object
 9   comp_date              4596 non-null   object
 10  comp_location          13064 non-null  object
 11  comp_status            2104 non-null   object
dtypes: int64(1), object(11)
memory usage: 1.3+ MB

# For checking duplicate rows:

In [ ]:
#This function checks for duplicate rows and deletes them
def duplicate_check(df):
  duplicate = df[df.duplicated()]
  if duplicate.empty==False:
    df=df.drop_duplicates()
  return df

# For replacing NaN by 'Not Resolved':

In [ ]:
def not_resolved(df):
  df['comp_status'] = df['comp_status'].replace(np.nan, 'Not Resolved')
  return df

# For splitting comp_location into City and State :

In [ ]:
#Splitting done on basis of ','
def location(df):
  df[['City','State']] = df.comp_location.str.split(",",1,expand=True)
  return df

# For splitting compl_title into Company Name and Title:

In [ ]:
#Splitting done on basis of '\n'
def name_title_split(df,):
  df[['Comp Name','title']] = df.compl_title.str.split("\n",1,expand=True)
  df['Company Name'] = df['Comp Name'].str[:-1]
  #df=df.drop(['Comp Name'], axis = 1)
  return df

# For converting into date format:

In [ ]:
def convert_date(d):
  months_dict={'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', 'May':'05', 'Jun':'06', 'Jul':'07', 'Aug':'08', 'Sep':'09', 'Oct':'10', 'Nov':'11', 'Dec':'12'}
  a=str(d)
  mylist=a.split()
  if len(mylist)==3:
    mm=mylist[0]
    dd=mylist[1]
    yyyy=mylist[2]
    dd=dd[:-1]
    mm=months_dict[mm]
    final_date=dd+'-'+mm+'-'+yyyy
    return final_date

# All Functions:

In [ ]:
def cleaning_dataset(filename):
  try:
    path ="/content/drive/MyDrive/Wids/"+filename
    df=pd.read_csv(path)
    duplicate_check(df)
    not_resolved(df)
    location(df)
    name_title_split(df)
    df=df.drop(['Comp Name'], axis = 1)
    df['complaint_date_changed'] = df.apply(lambda row : convert_date(row['comp_date']), axis = 1)
    df['complaint_date_changed'] = pd.to_datetime(df.complaint_date_changed)
    df['complaint_date_changed'] = df['complaint_date_changed'].dt.strftime('%d-%m-%Y')
    df['Update_date_changed'] = df.apply(lambda row : convert_date(row['update_date']), axis = 1)
    df['Update_date_changed'] = pd.to_datetime(df.Update_date_changed, errors='coerce')
    df['Update_date_changed'] = df['Update_date_changed'].dt.strftime('%d-%m-%Y')
    return df.to_csv("bsnl_merged_cleaned.csv")
  except:
    return("File not found on Drive")

In [ ]:
cleaning_dataset('bsnl_merge.csv')

In [ ]:
df.head(5)

   Unnamed: 0 web-scraper-order  ...           comp_location comp_status
0           0    1623825574-391  ...     Vellore, Tamil Nadu         NaN
1           1   1623847234-5990  ...  Mathura, Uttar Pradesh         NaN
2           2   1623841539-4219  ...     Mumbai, Maharashtra         NaN
3           3    1623825533-376  ...        Sikar, Rajasthan  [Resolved]
4           4   1623834784-2028  ...     Chennai, Tamil Nadu  [Resolved]

[5 rows x 12 columns]

In [ ]:
df.shape

(14598, 12)

In [ ]:
cleaned_df = pd.read_csv("/content/bsnl_merged_cleaned.csv")
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14598 entries, 0 to 14597
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              14598 non-null  int64
 1   Unnamed: 0.1            14598 non-null  int64
 2   web-scraper-order       14598 non-null  object
 3   web-scraper-start-url   14598 non-null  object
 4   compl_title             14598 non-null  object
 5   link_title-href         6640 non-null   object
 6   comp_detail             14598 non-null  object
 7   update_date             11473 non-null  object
 8   comp_status_text        5960 non-null   object
 9   username                14598 non-null  object
 10  comp_date               4596 non-null   object
 11  comp_location           13064 non-null  object
 12  comp_status             14598 non-null  object
 13  City                    13064 non-null  object
 14  State                   13064 non-null  object
 15  title                   14598 non-null  object
 16  Company Name            14598 non-null  object
 17  complaint_date_changed  4596 non-null   object
 18  Update_date_changed     11473 non-null  object
dtypes: int64(2), object(17)
memory usage: 2.1+ MB

In [ ]:
cleaned_df['Update_date_changed'] = pd.to_datetime(cleaned_df['update_date'], errors='coerce').dt.strftime('%d-%m-%Y')
cleaned_df['Update_date_changed'].head(5)

0           NaN
1    08-10-2019
2    19-03-2014
3    14-08-2020
4    13-08-2020
Name: Update_date_changed, dtype: object

In [ ]:
cleaned_df['complaint_date_changed'] = pd.to_datetime(cleaned_df['comp_date'], errors='coerce').dt.strftime('%d-%m-%Y')
cleaned_df['complaint_date_changed'].head(5)

0           NaN
1    08-10-2019
2           NaN
3           NaN
4           NaN
Name: complaint_date_changed, dtype: object

In [ ]:
cleaned_df.head(4)

   Unnamed: 0  Unnamed: 0.1  ... complaint_date_changed Update_date_changed
0           0             0  ...                    NaN                 NaN
1           1             1  ...             08-10-2019          08-10-2019
2           2             2  ...                    NaN          19-03-2014
3           3             3  ...                    NaN          14-08-2020

[4 rows x 19 columns]

In [ ]:
rslt_df = cleaned_df.drop(cleaned_df.iloc[:, 0:2], axis = 1)
rslt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14598 entries, 0 to 14597
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   web-scraper-order       14598 non-null  object
 1   web-scraper-start-url   14598 non-null  object
 2   compl_title             14598 non-null  object
 3   link_title-href         6640 non-null   object
 4   comp_detail             14598 non-null  object
 5   update_date             11473 non-null  object
 6   comp_status_text        5960 non-null   object
 7   username                14598 non-null  object
 8   comp_date               4596 non-null   object
 9   comp_location           13064 non-null  object
 10  comp_status             14598 non-null  object
 11  City                    13064 non-null  object
 12  State                   13064 non-null  object
 13  title                   14598 non-null  object
 14  Company Name            14598 non-null  object
 15  complaint_date_changed  4596 non-null   object
 16  Update_date_changed     11473 non-null  object
dtypes: object(17)
memory usage: 1.9+ MB

In [ ]:
rslt_df.to_csv("/content/bsnl_merged_cleaned.csv")